:root {
  --clr-primary-400: hsl(158, 36%, 37%);
  --clr-secondary-100: hsl(30, 38%, 92%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-700: hsl(228, 12%, 48%);
  --clr-neutral-900: hsl(212, 21%, 14%);

  --ff-base: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;

  --fw-regular-400: 400;
  --fw-bold-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--ff-base);
  font-size: 0.875rem;
  background-color: var(--clr-secondary-100);
  margin: 1rem;
  display: grid;
  height: 100vh;
  place-content: center;
  color: var(--clr-neutral-700);
  line-height: 1.75;
}

img,
canvas {
  display: block;
  max-width: 100%;
}

.product {
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}

@media (min-width: 600px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.product__content {
  padding: 1rem;
  gap: 1rem;
  display: grid;
}
.product__category {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.product__title {
  color: var(--clr-neutral-900);
  font-family: var(--ff-accent);
  font-size: 1.7rem;
  line-height: 1.3;
}
.flex-group {
  align-items: center;
  display: flex;
}
