:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}
ul,
li {
  list-style-type: none;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  align-items: center;
  display: flex;
  color: #fff;
  width: 100%;
  background-color: #000;
}
header nav ul {
  display: flex;
}
header .logo {
  width: 151px;
}
header .istock__searchBtn {
  display: flex;
}
