:root {
  --clr-gray-200: #f5f5f5;
  --clr-gray-400: #dbf1ff;
  --clr-gray-500: #dce1e1;
  --clr-gray-800: #181a1a;
  --clr-gray-900: #0c0d0d;

  --clr-green-400: #028a71;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 0.5s;
}

/* ================================ utilities ===================================== */
/* colors */
.bg__gray-200 {
  background-color: var(--clr-gray-200);
}
.bg__gray-400 {
  background-color: var(--clr-gray-400);
}
.bg__gray-500 {
  color: #fff;
  background-color: var(--clr-gray-500);
}
.bg__gray-800 {
  color: #fff;
  background-color: var(--clr-gray-800);
}
.bg__gray-900 {
  color: #fff;
  background-color: var(--clr-gray-900);
}
.clr__green-400 {
  color: var(--clr-green-400);
}

/* ================================ Defaults ===================================== */
.category-title {
  font-size: 24px;
}

.feature-title {
  margin: 1.5rem 0;
  font-size: 20px;
}

.logo {
  width: 151px;
}

@media (min-width: 645px) {
  .feature-title {
    font-size: 24px;
  }
}
.card-border {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #dae8e7;
  margin: 0 0.4rem;
}
.card-regular {
  border: 1px solid #ccd3d3;
  background-color: #fff;
  color: initial;
}
.card-border p {
  margin: 0.35rem 0;
}
.card-solo {
  position: relative;
}
.card {
  position: relative;
}
.card__image {
  background-color: #000;
}
.card-solo img {
  opacity: 0.6;
}
.card__gradient {
  background: linear-gradient(-180deg, transparent, rgba(1, 1, 1, 0.7) 70%);
}
.card__caption-gradient {
  background: linear-gradient(-180deg, transparent, rgba(1, 1, 1, 0.7) 70%);
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.5rem;
  padding: 1rem;
  position: absolute;
  width: 100%;
}
.card-solo .absolute {
  position: absolute;
  left: 43px;
  top: 60px;
}
.card-solo .absolute h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.card-solo .absolute p:not(:last-child) {
  margin: 1rem 0;
  max-width: 50% !important;
  font-size: 16px;
  font-weight: bold;
  color: #ffd900;
}
.card-solo .absolute p {
  font-size: 11px;
}
.card-regular .card__description {
  padding: 1rem;
}
.card-regular .card__description h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.content__wrapper {
  margin: 0 auto;
  max-width: 1050px;
  font-size: 14px;
  padding: 3rem 1rem;
}
.flex__group {
  text-align: left;
  display: flex;
}
/* ================================ resets ===================================== */

img {
  display: block;
  width: 100%;
}
ul,
li {
  list-style-type: none;
}
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.7;

  font-weight: 400;
  overflow-wrap: break-word;
}

/* ================================ Header ===================================== */

header nav {
  align-items: center;
  display: flex;
  color: #fff;
  width: 100%;
  background-color: #000;
}
header nav ul {
  display: flex;
}

header .istock__searchBtn {
  display: flex;
}
section {
  margin: 2.5rem 0;
}
/* ================================ category section ===================================== */
.category-section {
  text-align: center;
  padding-bottom: 2rem;
}
.category-section .content__wrapper {
  max-width: 1400px;
}
.category-section .flex__group {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.category-section .flex__group .card img {
  max-width: 310px;
}
/* ================================ fourpack-container ===================================== */
.fourpack-container {
  text-align: center;
}
.fourpack-container .video-container img {
  margin: 0 auto;
}
.fourpack-container article img {
  width: 60px;
  margin: 0 auto;
}
.fourpack-container .grid__group {
  display: grid;
}
.fourpack-container article {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.fourpack-container article h4 {
  font-size: 18px;
}
.fourpack-container .video-container {
  position: relative;
}
.fourpack-container video {
  position: absolute;
  height: 37%;
  left: calc(50% - 1.6rem);
  top: calc(50% - 0.6rem);
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (min-width: 768px) {
  .fourpack-container .grid__group {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .fourpack-container article {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .fourpack-container article img {
    width: 60px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    margin-right: 3rem;
  }
  .fourpack-container video {
    position: absolute;
    height: 29%;
    left: calc(50% - 1.4rem);
    top: calc(50% - 4.6rem) !important;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
/* ================================ Best Work ===================================== */
.best-work {
  text-align: center;
}
.best-work p {
  margin-bottom: 1rem;
}
.best-work .grid__group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.best-work .grid__group-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.best-work .grid__col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.best-work .grid__group-three {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.best-work .flex__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.best-work .flex__group ul li {
  margin: 0.5rem;
  font-size: 16px;
  color: var(--clr-green-400);
}
@media (min-width: 768px) {
  .best-work .grid__group {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .best-work .grid__group-two {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .best-work .grid__col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
  }
  .best-work .grid__group-three {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
/* ================================ Promo Banner ===================================== */
.promo-banner .grid__group {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: (1, 1fr);
}

@media (min-width: 1024px) {
  .promo-banner .grid__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .card-solo .absolute h2 {
    font-size: 32px;
    text-transform: uppercase;
  }
  .card-solo .absolute p:not(:last-child) {
    font-size: 20px;
    color: #ffd900;
  }
  .card-solo .absolute p {
    font-size: 15px;
  }
}
/* ================================ Free stock ===================================== */

.free-stock {
  text-align: center;
}
.free-stock p {
  margin: 1.5rem 0;
}
/* ================================ Footer ========================================= */

footer .headline h3 {
  text-align: center;
  padding: 2rem;
  font-size: 18px;
}

footer .footer__wrapper ul li {
  margin-bottom: 0.2rem;
}
footer .footer__wrapper ul li:first-child {
  color: #ffffff99;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
footer .content__wrapper {
  padding: 3rem 2.5rem;
}
footer .grid__group {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}
footer .footer__copyright {
  padding-top: 1rem;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #353838;
}
footer .social__media {
  display: inline-block !important;
  padding: 0.5rem;
  background-color: #474747;
  border-radius: 5px;
}

/* ================================ media query 1024px ===================================== */

@media (min-width: 1024px) {
  .content_wrapper div {
    max-width: 160px;
  }
  footer .grid__group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  footer .footer__form {
    margin-right: 5rem;
  }
  footer .headline h3 {
    text-align: center;
    padding: 2rem;
    font-size: 21px;
  }
}
